.avatar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  width: 505px;
  height: 190px;
}

.avatar__title {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.avatar__subtitle {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
}

.avatar__button {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  color: rgba(33, 33, 33, 1);
}

.avatar__button_pencil {
  margin-right: 8px;
}

.avatar__button_subtitle {
  font-size: 16px;
  line-height: 1;
}
