.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0 0 20px;
  height: 210px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__image {
  width: 190px;
  height: 190px;
  padding-right: 20px;
  border-radius: 8px;
}

.profile__button {
  display: flex;
  flex-direction: row;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.profile__button_icon {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.profile__button_text {
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }

  .profile__image {
    margin-right: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__button {
    margin: 20px 0;
  }

  .avatar {
    margin-top: 12px;
    max-width: 288px;
  }

  .avatar__title {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .avatar__subtitle {
    padding-bottom: 32px;
  }

  .avatar__button {
    margin-bottom: 0 auto 20px;
    font-size: 16px;
    line-height: 1;
    rgba(33, 33, 33, .7)
  }
}